[Desktop Entry]
Version=0.2.2
Type=Application
Name=MODAQ Upload
Comment=MODAQ File Uploader
Exec={{PROJECT_DIR}}/venv/bin/python {{PROJECT_DIR}}/launch.py
Icon={{PROJECT_DIR}}/frontend/public/images/modaq-logo.png
Terminal=true
Categories=Science;Utility;
StartupNotify=true
